@import '../buttons.css';
@import '../joystick.css';

body {
  margin: 0;
  padding: 0;
}

.axes {
  padding: 1em;
  display: flex;
  flex-direction: row;
}


/*meter*/.axis {
  min-width: 200px;
  margin: 1em;
}

