.joystick {
  height: 200px;
  width: 200px;
  margin: 8px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  position: relative;
}

.joystick .y {
  position: absolute;
    top: 0px;
    bottom: 0px;
    left: 50%;
    width: 1px;
    background: #a2a2a2;
    opacity: 0.2;
}

.joystick .x {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  height: 1px;
  background: #a2a2a2;
  opacity: 0.2;
}

.joystick .point {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #000;
}